@import 'variables';

//butons============
    .btn{      
        border-radius: 2px;
        height: 40px;
        font-size: 15px;
        text-transform: uppercase;
        @include flex-row;
        justify-content: center;
        cursor: pointer;
        width: 180px;
        transition: .3s;
        @include font-GothamM;
        text-align: center;
    }  
    .btn-green{        
        border-width: 2px;
        border-color: $btn-green;
        border-style: solid;
        color: $font-green ;
        background:transparent;
        
        &:hover{
           background:  $btn-green;
           color: #fff;
        }
    }
    .btn-orange{
        border-width: 2px;
        border-color: rgba(0,0,0,0);
        border-style: solid;
        background: $btn-orange;
        color: $font-white;
        border: 0;
        &:hover{
            border-width: 2px;
            border-color:  $btn-orange;
            border-style: solid;
            background: rgba(0,0,0,0);
            color: $btn-orange;
        }

    }

    button.btn{display: inline-block!important; text-align: center;}
        
//==================

//header=============
    header{
        .top{
            @include flex-row; height: 42px; border-bottom: 1px solid  rgb(232, 232, 232); justify-content: space-between;    
        }     
        .part{display: flex; align-items: center;}  
    }
    .nav_menu{
        a{font-size: 12px; @include font-GothamB; line-height: 1.3; letter-spacing: 0px;}
        li{padding: 0 11px;
            &:hover{text-decoration: underline;}
        }
        li:not(:last-child){ position: relative;
            &:after{content: ''; height: 12px; width: 1px; background: $font-black; position: absolute; right: 0; left: auto; top: 50%; transform: translate(0, -50%); }
        }
    }
    .language{padding-right: 10px;position: relative; margin: 0 10px; cursor: pointer;
        &:after{content: ''; display: block; position: absolute; border-left: 2px solid transparent;
            border-right: 2px solid transparent; border-bottom: 4px solid transparent;
            border-top: 4px solid  rgb(149, 149, 149); right: 0; top: 50%; transform: translate(0, -50%);
            }
        &:hover{
            ul{ opacity: 1; pointer-events: auto; max-height: 30px;}
        }     
        ul{position: absolute;  max-height: 0px; transition: .3s; overflow: hidden;}
    }
    .tel{display: flex; align-items: center; font-size: 12px;
        img{margin-right:9px ;}
    }
    .search{padding-right: 7px; }
    .top .tel:hover{
        img{
            animation: shake;
            animation-duration: 2s;
            animation-timing-function: ease-in-out;
            animation-iteration-count: infinite; 
        }    
    }

    .bot-nav{
        li{ transition: .3s;padding-bottom: 7px;
            a{display: block; width: 100%;padding: 0 16px;height: 55px; display: flex; align-items: center; font-size: 15px; letter-spacing: 0px;}
            &:hover{
                background: rgb(237, 237, 237);
            }          
        }
    }
//====================

//background images======
    .bg-image{position: absolute;width: 100%; height: 100%; top: 0; left: 0;
        img{ position: absolute; top: 50%; left: 50%; width:100%; height: 100%; object-fit: cover; transform: translate(-50%,-50%);object-position: 50% 50% }
    }
//=======================

//sections & elements===============
    .section{padding: 50px 0; position: relative;
        .wrapper{width: 890px; flex-wrap: wrap;  margin: 0 auto;}
        h2,h3{text-align: center; width: 100%;}
    }
    .row{
        @include flex-row;
    }

//========================

//footer================================
.footer{ background : $bg-grey; padding: 50px 0 0;
    .wrapper{align-items: flex-start; padding-bottom: 100px; }
    .part{ display: flex; flex-wrap: wrap;
        &:last-of-type{width: 350px;}
    }
    .columns{flex-wrap: nowrap;}
    .column{margin-right: 80px;
        li{ margin-bottom: 10px;            
        }
        a{font-size: 15px; color: $font-grey;
            &:hover{text-decoration: underline;}
        }
    }
    .socials{@include flex-row; flex-wrap: wrap; margin-bottom: 40px;
        h4{width: 100%; margin-bottom: 10px;}
        img{width: 37px; height: 37px; margin-right: 10px; transition: .6s;
            &:hover{filter: invert(1);}
        }
        img:not(:last-of-type){margin-right: 10px;}
    }
    .btn{width:150px; }
    form{display: flex; }
    input{margin-right: 10px; border: 1px solid transparent;
        &.error{border: 1px solid red;}
    }
    .bot{background: #dedede; height: 65px; display: flex; justify-content: center; align-items: center;}
    .copyright{ width: 100%; max-width: 390px; margin: 0 auto; display: flex;
        p{margin-right: 10px; margin-bottom: 0;}
        a{color: $font-green; font-size: 13px; line-height:1.6; display: block;
            &:first-of-type{ position: relative; padding-right: 5px; margin-right: 5px;
                &:after{content: ''; display: block; height: 13px; width: 1px; position: absolute;  background: $font-black; top: 50%; right:0; transform: translate(0, -50%); }
            }
        } 
    }
}
//======================================

//menu-button===========================

.menu-button{display: none;}
.close_btn {
  display: none;
  color: #000;
  position: absolute;
  margin-top: 0;
  margin-left: 0;
  width: 21px;
  height: 21px;
}
.close_btn:before {
  content: '';
  position: absolute;
  top: 10px;
  width: 21px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.close_btn:after {
  content: '';
  position: absolute;
  top: 10px;
  width: 21px;
  height: 1px;
  background-color: currentColor;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}