//font colors
$font-black: rgb(54, 54, 54);  
$font-green: rgb(18, 165, 74);
$font-white:  rgb(255, 255, 255);
$font-grey: rgb(125, 125, 125);

  
//bg-colors

$bg-grey: rgb(237, 237, 237);  

//butons bg-color
$btn-orange: rgb(250, 152, 5);
$btn-green: rgb(18, 165, 74);

@mixin flex-row {
    display: flex;
    align-items: center; 
    width: 100%;   
}
@mixin flex-cell {
    display: flex;
    flex-wrap: wrap;
    align-items: center;    
}

@mixin font-GothamB {
    font-family: GothamB;
}

@mixin font-GothamM {
    font-family: GothamM;
}

@mixin font-antenna {
    font-family: antenna;
}


  



  