@import 'variables';
@import 'elements'; 
@import 'animation';

//top block============================
.top-block{position: relative;
    .wrapper{
        padding: 65px 0 55px;
    }
    .content{background: #fff; padding: 30px 34px 40px 34px; width: 100%; max-width: 670px;} 
    h1{line-height: 1; font-weight: 100; letter-spacing: -1px; @include font-antenna; margin-bottom: 25px;}     
    .sub-heading{ line-height: 1.4; margin-bottom: 25px;}
    .btn-row{display: flex;}
    .btn{margin-right: 5px;}
    .btn-orange{width: 180px;}
    .btn-green{width: 305px;}
}

//======================================

//introducing===========================

.introducing{background: $bg-grey; padding: 40px 0 50px;
}

.infrastructure{display: flex; flex-wrap: wrap; padding-top: 15px; 
    li{width: 33%; min-height: 255px; padding: 25px 25px 25px 26px; transition: .3s;
        &:hover{ background: $bg-grey; cursor: pointer;
        }
    }
    li:nth-child(-n+3){ margin-bottom: 25px;}
    .row{ margin-bottom: 23px;}
    h4{color: $font-green; text-decoration: underline; margin-bottom: 15px; }
    p{line-height: 1.6; }    
}

.step1{padding-bottom: 0; padding: 40px 0 10px;}

//======================================

//.managed-services=====================
.step2{padding-bottom: 20px;}
.managed-services{ padding-top: 30px;
    
    .row-name{width: 15%; text-align: right;}
    .row{margin-bottom: 20px; justify-content: space-between; padding-right: 40px;
    }
    .top-row{margin-bottom: 20px;}
    .right-part, .view{@include flex-row; width: 80%; align-items: flex-start;}
    .management-category{ width: 33%; padding-top: 20px;
        h4{margin-bottom: 10px;}
        &:nth-child(1){border-top: 5px solid rgb(159, 210, 80);}
        &:nth-child(2){text-align:center; border-top: 5px solid rgb(79, 186, 64);}          
        &:nth-child(3){text-align:right; border-top: 5px solid rgb(18, 165, 74);}
    }
    .view{position: relative;

    }
    .line{ background-color: rgb(220, 220, 220); min-height: 5px; width: 100%;          
    }
    .slider-sircle{border-radius: 50%; width: 17px; height: 17px; background-color: rgb(159, 210, 80); position: absolute; left: 0; top: 50%; transform: translate(0, -50%); transition: 1s;
        &.light-green{background-color: rgb(159, 210, 80);}
        &.green{background-color: rgb(79, 186, 64);}
        &.dark-green{background-color: rgb(18, 165, 74);}
    }      
}

//delegate==============================

//======================================

.delegate{
    .wrappre{justify-content: center;}
    .sub-heading{margin: 0 auto;}
    .btn-orange{width: 180px;}
    .row{justify-content: center;}
}

//======================================

//responses=============================

.responses{padding: 50px  0;
    .wrapper{background: #fff; padding: 50px;}
    .btn-row{justify-content: center;}
    .btn-green{width: 215px; margin: 0 auto;}
    .author{margin: 30px 0; text-align: center; @include font-GothamM; color: rgb(132, 132, 132);}      
    .slider{width: 100%;}
    .slick-dots{bottom: -43px;
        li{width: 8px; height: 8px; margin: 0 8px;
            button{border:1px solid #555555;width: 8px; height: 8px; border-radius: 50%;}
        } 
        .slick-active button{ background: #555555;}   
    }
    .slick-arrow{bottom: -60px; top: auto;}
    .slick-prev{left: 42%; z-index: 1;}
    .slick-next{right: 42%; z-index: 1;}
}
//======================================

//questions=============================
    .questions{
        h3{margin-bottom: 30px;}
        .question-form{background:$bg-grey; max-width: 580px; width: 100%; margin: 0 auto; padding: 16px 13px ;}
        .part{width: calc(50% - 3px); }           
        .row{justify-content: space-between; margin-bottom: 6px; align-items: flex-start}
        .description{color: $font-grey; line-height: 1.4; font-size: 13px; padding-top: 5px; 
            span{@include font-GothamM; font-size: 12px; text-transform: uppercase;}
        }
        textarea{height: 80px; margin-bottom: 10px;}
        input{ border: 1px solid transparent;
            &.error{border: 1px solid red;}
        }
        textarea{border: 1px solid transparent;
            &.error{border: 1px solid red;}
        }
    }
//======================================



