@media screen and (max-width: 1920px){

}
@media screen and (max-width: 1600px){

}
@media screen and (max-width: 1366px){

}
@media screen and (max-width: 1280px){
    .mbox{max-width: 992px; padding: 0 10px;}
    .bot-nav li a{text-align: center; font-size: 12px;}
    .footer .column{margin-right: 40px;}
}
@media screen and (max-width: 1024px){

}
@media screen and (max-width: 992px){

    .ctext{
        .sub-heading{font-size: 14px;}
        h2{font-size: 22px;}
        h3{font-size: 22px;}
        h4{font-size:14px;}
        .reg-text{font-size:12px}
    } 
    .section .wrapper {
        width: 100%;
    }

    //header
    .mbox{max-width: 767px; padding: 0 10px;}
    .bot-nav li a{text-align: center; font-size: 10px; padding: 0 5px; height: 40px;}
    .nav_menu{
        a{font-size: 10px;}
        li:not(:last-child):after{height: 10px;top: 60%;}
    }
    .logo{width: 140px;}

    //top-block
    .top-block{
        h1{font-size: 28px;}
        .content{max-width: 467px;}
        .btn-orange{width: 140px; font-size: 12px;}
        .btn-green{width: 250px; font-size: 12px;}
    }
    
    //infrastructure

    .infrastructure li{height: auto; padding: 15px ; }
    .infrastructure li:nth-child(-n+3){margin: 0;}

    //footer
    .footer .column a {
        font-size: 12px;
    }
    .footer .columns {flex-wrap: wrap;}
    .footer .wrapper{flex-wrap: wrap; justify-content: center;
        .column{margin: 0 40px;}
    }
}
@media screen and (max-width: 767px){
    
    //header
    .menu-button{display: flex; width: 30px; height: 30px; border: 2px solid rgb(100, 100, 100); border-radius: 50%; display: flex; flex-wrap: wrap;justify-content: center; align-content: space-between; align-items: stretch; padding: 8px 0; cursor: pointer;
        div{width: 70%; height: 1px; background: rgb(100, 100, 100); }
    }
    header{ position: relative; z-index: 3;
        .bot{
            .mbox{justify-content: center; display: flex; flex-wrap: wrap; position: relative; padding: 10px 0;}
            .wrapper{ flex-wrap: wrap; justify-content: center; position: absolute; top: 0; left: 0; background: #fff;z-index: 3; padding: 20px 0;
                .logo{width: 100%; display: flex; justify-content: center;}
                ul{display: flex; flex-wrap: wrap; width: 320px;}
                li{width: 100%; padding: 0;}
                a{text-align: center;  justify-content: center;}
            }
        }       
    }
    .close_btn{ display: block; position: absolute; top: 15px; right: 15px; cursor: pointer;}

     //responses
    .responses.ctext{      
        .wrapper{padding: 25px; width: 400px;}  
        h3{font-size:16px;} 
        .reg-tex{font-size: 12px;} 
        .slick-arrow {
            bottom: -50px;}
        .slick-dots {
            bottom: -33px;
        }
       .slick-next{right: 35%;} 
       .slick-prev{left: 35%;} 
    }     
    
    //footer
    .footer{
        .part{ justify-content: space-around;
            .column{margin-bottom: 15px;
                li{text-align: center;}
            }

        }
        .socials{
            h4{text-align: center;}
            ul{width: 100%; justify-content: center;}
        }
        .part:last-of-type{width: 300px;}
    } 

}
@media screen and (max-width: 666px){
    .section {
        padding: 20px 0;
    }

    .bg-image{
        img{ object-position: 75% 50%;}
    }
     //infrastructure
     .infrastructure li {
        width: 50%;
    }

     //questions 

     .questions{
        .row{flex-wrap: wrap; margin: 0;}
        .part{width: 100%; }
        input{margin-bottom: 10px;}
    }

    //managed-services

    .managed-services{
        .row{flex-wrap: wrap;  padding: 0 10px;}
        .row-name{width: 100%; text-align: center; margin-bottom: 10px;}
        .right-part{width: 100%;}
        .view{width: 100%;}
    }

    //footer
    .footer{
        .wrapper{padding-bottom: 30px;
            
        }
    }
    
}
@media screen and (max-width: 479px){
    .ctext{
        .sub-heading{font-size: 12px;}
        h2{font-size: 18px;}
        h3{font-size: 22px;}
        h4{font-size:14px;}
        .reg-text{font-size:12px}
    } 
    //header
    header{
        .top{height: 50px;          
        }
        .wrapper{flex-wrap: wrap; justify-content: center; }
        .tel{width: 100%; justify-content: center; }
        
    
    }
    //top-block
    .top-block{
        h1 {
            font-size: 20px;
            margin-bottom: 10px;
        }
        .btn-row{flex-wrap: wrap;
            .btn-orange{margin-bottom: 10px;}
        }
    } 

    //infrastructure
    .infrastructure {justify-content: center;
        li {
            width: 250px;
        }
    }

    //managed-services

    .managed-services{
        .row{flex-wrap: wrap;  padding: 0 10px;}
        .row-name{width: 100%; text-align: center; margin-bottom: 10px;}
        .right-part{width: 100%;}
        .view{width: 100%;}
    }

    //responses
     //responses
     .responses.ctext{      
        .wrapper{padding: 15px; width: 290px;}  
        h3{font-size:14px;} 
        .reg-tex{font-size: 10px;} 
        .slick-arrow {opacity: 0; pointer-events: none;
            bottom: -40px;}
        .slick-dots {
            bottom: -23px;
        }
       .slick-next{right: 25%;   } 
       .slick-prev{left: 25%; } 
    }   
    //copyright
    .copyright{flex-wrap: wrap; justify-content: center;
        a{width: 49%; text-align: center; margin: 10px 0;}
    }
    //footer
    .footer .part{
        .column{
            h4{text-align: center; cursor: pointer;}
            width: 100%;
        }
    } 
}
@media screen and (max-width: 320px){

}