<!-- FOOTER -->
<div class="footer_placeholder"></div>
<footer class="footer ctext">
    <div class="mbox">
        <div class="wrapper">
            <div class="part columns">
                <div class="column">
                    <h4>About single Hop</h4>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Why SingleHop</a></li>
                        <li><a href="#">Customer Stories</a></li>
                        <li><a href="#">Careers</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Newsroom</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h4>Products & Services</h4>
                    <ul>
                        <li><a href="#">Managed Infrastructure</a></li>
                        <li><a href="#">Dedicated & Cloud</a></li>
                        <li><a href="#">Security & Recovery</a></li>
                        <li><a href="#">Tools & Platform</a></li>
                        <li><a href="#">ServiceFirst Support</a></li>
                    </ul>
                </div>
                <div class="column">
                    <h4>Contact Us</h4>
                    <ul>
                        <li><a href="#">Sales & Support</a></li>
                        <li><a href="#">Shedulule a call</a></li>
                        <li><a href="#">Email us</a></li>
                        <li><a href="#">Live Chat</a></li>
                        <li><a href="#">Partnerships</a></li>
                    </ul>
                </div>
            </div>

            <div class="part">
                <div class="socials">
                    <h4>Connect</h4>
                    <ul class="hr">
                        <li><a href="#"><img src="./images/socIcon1.svg" alt=""> </a></li>
                        <li><a href="#"><img src="./images/socIcon2.svg" alt=""> </a></li>
                        <li><a href="#"><img src="./images/socIcon3.svg" alt=""> </a></li>
                        <li><a href="#"><img src="./images/socIcon4.svg" alt=""> </a></li>
                    </ul>
                </div>       
                <h4>Newsletter</h4>        
                <form action="ajax.php" method="post" class="newsletter">
                    <input type="email" placeholder="Email address" name="email" required='required'>
                    <button class="btn btn-green">join</button>
                </form>
                
            </div>
            
        </div>
    </div>
    <div class="bot">
        <div class="copyright reg-text">
            <p>Copuright 2017 SingleHop, LLC</p> 
            <a href="#">PRIVACY</a>
            <a href="#">Lega & MSA</a>
        </div>
    </div>
</footer>
<!-- /FOOTER -->
