<!-- HEADER -->
<header>    
        <div class="top">
            <div class="mbox">
                <div class="wrapper">               
                    <div class="tel">
                        <img src="./images/phone.png" alt="">
                        <a href="tel:866.349.0689">866.349.0689</a>
                    </div>
                    <div class="part">
                        <ul class='hr nav_menu'>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">AI</a></li>
                            <li><a href="#">Parnters</a></li>
                            <li><a href="#">LEAP Login</a></li>
                        </ul>  
                        <div class="language">
                            <img src="./images/usa_flag.png" alt="">
                            <ul>
                                <li><a href="#"> <img src="./images/usa_flag.png" alt=""></a></li>
                                <li><a href="#"> <img src="./images/usa_flag.png" alt=""></a></li>
                            </ul>
                        </div>
                        <div class='search'>
                            <a href="#"><img src="images/search.png" alt=""></a>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="bot">
            <div class="mbox">
                <div class="menu-button">
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <div class="wrapper js_mobile-menu"> 
                    <div class="close_btn"> </div>  
                    <div class="logo">
                         
                        <a href="#">
                            <img src="./images/main-logo.png" alt="">
                        </a>
                    </div>
                    <ul class="hr bot-nav">
                        <li>
                            <a href="#">Why SingleHop</a>
                        </li>
                        <li>
                            <a href="#"> Dedicated & Cloud</a>
                        </li>
                        <li> 
                            <a href="#"> Managed Hosting</a>
                        </li>
        
                        <li>
                            <a href="#"> Security & Recovery</a>
                        </li>
        
                        <li>
                            <a href="#">ServiceFirst Support</a>
                        </li>
                    </ul> 
                </div>
                
            </div>
            
        </div>
</header>
<!-- /HEADER -->

