//= partials/head.html

<div class="global-wrapper">
    //= partials/header.html

    <!-- MAIN -->
    <div class="main">
        <div class="top-block ctext">
            <div class="bg-image">
                <img src="images/bg_section1.jpg" alt="some image">
            </div>
            <div class="mbox">
                <div class="wrapper">
                    <div class="content">
                        <h1>Managed Hosting Services</h1>
                        <div class="sub-heading">
                            <p>Cloud Choice. Expertly Managed. Choose any cloud and customize your managed services plan. </p>                        
                        </div>
                        <div class="btn-row">
                            <a href="#" class="btn btn-orange">
                                chat now
                            </a>
                            <a href="#" class="btn btn-green">
                                schedule constulation
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>

        <div class="introducing section ctext">
            <div class="mbox">
                <div class="wrapper">
                    <h2>
                        Introducing the industry’s most flexible suite of managed infrastructure and services.
                    </h2>
                    <div class="sub-heading">
                        In the hybrid, multi-cloud era of IT, there is no one-size-fits-all infrastructure solution. Your business does not fit in a pre-defined box, so why should your managed hosting plan?   
                    </div>
                </div>                
            </div>
           
        </div>

        <div class="step1 section ctext">
            <div class="mbox">
                <div class="wrapper">
                    <h3>Step 1: Start by choosing your infrastructure.
                    </h3>
                    <div class="sub-heading">
                        <p>We’ll manage your architecture whether it’s hosted with us or with them. The choice is yours, onboarded and supported 24x7x365 by our Service First technicians. Explore infrastructure options below then layer a customized Managed Services plan in the next step.</p>
                    </div>                    
                </div>
                <ul class="infrastructure reg-text">
                    <li>
                        <div class="row js-same-size"><img src="images/infra-item1.png" alt="some image"></div>
                        <h4>Amazon Web Services (AWS)</h4>
                        <div class="description ">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut</p>
                        </div>
                    </li>
                    <li>
                        <div class="row js-same-size"><img src="images/infra-item2.png" alt="some image"></div>
                        <h4>Microsoft Azure</h4>   
                        <div class="description reg-text">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </li>
                    <li>
                        <div class="row js-same-size"><img src="images/infra-item3.png" alt="some image"></div>
                        <h4>Dedicated Private Cloud</h4>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut</p>
                        </div>
                    </li>
                    <li>
                        <div class="row js-same-size"><img src="images/infra-item4.png" alt="some image"></div>
                        <h4>Dedicated Servers</h4>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut</p>
                        </div>
                    </li>
                    <li>
                        <div class="row js-same-size"><img src="images/infra-item5.png" alt="some image"></div>
                        <h4>Hybrid Architectures</h4>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut</p>
                        </div>
                    </li>
                    <li>
                        <div class="row js-same-size"><img src="images/infra-item6.png" alt="some image"></div>
                        <h4>Public Cloud</h4>
                        <div class="description">
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="step2 section ctext">
            <div class="mbox">
                <div class="wrapper">
                    <h3>Step 2: Extend Your IT Team with Flexible Managed Services</h3>
                    <div class="sub-heading">
                        <p>Routine tasks and upkeep shouldn’t come at the expense of innovation. We manage or co-manage your environments (no matter where they reside) while you do the work that matters most.</p>
                    </div>                                      
                </div>
                <div class="managed-services">
                    <div class="row top-row">
                        <div class="row-name">
                            
                        </div>
                        <div class="right-part">
                            <div class="management-category">
                                <h4>Managed by Your Team</h4>
                                <div class="reg-text">
                                    Self-Managed
                                </div> 
                            </div>
                            <div class="management-category">
                                <h4>Shared Management</h4>
                                <div class="reg-text">
                                    Co-managed
                                </div>                                     
                            </div>
                            
                            <div class="management-category">
                                <h4>Managed by SingleHop</h4>
                                <div class="reg-text">
                                    Fully-managed
                                </div>   
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row-name reg-text">                                
                            Antivirus
                        </div>
                        <div class="view">
                            <div class="line"></div>
                            <div class="slider-sircle" data-distance="50%" data-color="rgb(79, 186, 64)"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row-name reg-text"> 
                            Monitoring
                        </div>
                        <div class="view">
                            <div class="line"></div>
                            <div class="slider-sircle"  data-distance="0%" data-color="rgb(159, 210, 80)"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row-name reg-text">
                                Architecture & Design                        
                        </div>
                        <div class="view">
                            <div class="line"></div>
                            <div class="slider-sircle" data-distance="83%" data-color="rgb(18, 165, 74)"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="row-name reg-text">
                            Backups                              
                        </div>
                        <div class="view">
                            <div class="line"></div>
                            <div class="slider-sircle"  data-distance="10%" data-color="rgb(159, 210, 80)"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row-name reg-text">
                            Load Balancing
                        </div>
                        <div class="view">
                            <div class="line"></div>
                            <div class="slider-sircle"  data-distance="40%" data-color="rgb(79, 186, 64)"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row-name reg-text">
                            Managed Security
                        </div>   
                        <div class="view">
                            <div class="line"></div>
                            <div class="slider-sircle" data-distance="4%" data-color="rgb(159, 210, 80)"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row-name reg-text">
                            System Administration
                        </div>
                        <div class="view">
                            <div class="line"></div>
                            <div class="slider-sircle" data-distance="99%" data-color="rgb(18, 165, 74)"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row-name reg-text">
                            Routine Maintenance 
                        </div>
                        <div class="view">
                            <div class="line"></div>
                            <div class="slider-sircle" data-distance="92%" data-color="rgb(18, 165, 74)"></div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="row-name reg-text">
                            Troubleshooting
                        </div>
                        <div class="view">
                            <div class="line"></div>
                            <div class="slider-sircle" data-distance="50%" data-color="rgb(79, 186, 64)"></div>
                        </div>
                    </div>                    
                </div>  
            </div>
        </div>

        <div class="delegate section ctext">
            <div class="mbox">
                <div class="wrapper">
                    <h3>Ready to Delegate? 
                           </h3>
                    <div class="sub-heading">
                        <p> Consult with a SingleHop engineer on your customized plan today.</p>
                    </div>                                      
                </div>
                <div class="row">
                    <a href="#" class="btn btn-orange">make the call</a>
                </div>
            </div>
        </div>

        <div class="responses section ctext">
            <div class="bg-image">
                <img src="images/bg_section4.jpg" alt="some image">
            </div>
            <div class="mbox">
                <div class="wrapper">
                    <div class="slider">
                        <div class="slides">
                            <h3>“SingleHop's network reachability is well above average, and their reliability between data centers is the best we've experienced. That's a huge benefit for SaaS providers, who necessarily need to be ‘always on.’ ” </h3>
                            <div class="author reg-tex">
                                Paul Kreiner,  Infrastructure Engineer atTSheets
                            </div>
                            <div class="btn-row">
                                <a href="#" class="btn btn-green">read the story</a>
                            </div>
                        </div>
                         <div class="slides">
                            <h3>“SingleHop's network reachability is well above average, and their reliability between data centers is the best we've experienced. That's a huge benefit for SaaS providers, who necessarily need to be ‘always on.’ ” </h3>
                            <div class="author reg-tex">
                                Paul Kreiner,  Infrastructure Engineer atTSheets
                            </div>
                            <div class="btn-row">
                                <a href="#" class="btn btn-green">read the story</a>
                            </div>
                        </div>
                        
                         <div class="slides">
                            <h3>“SingleHop's network reachability is well above average, and their reliability between data centers is the best we've experienced. That's a huge benefit for SaaS providers, who necessarily need to be ‘always on.’ ” </h3>
                            <div class="author reg-tex">
                                Paul Kreiner,  Infrastructure Engineer atTSheets
                            </div>
                            <div class="btn-row">
                                <a href="#" class="btn btn-green">read the story</a>
                            </div>
                        </div>
                    </div>
                </div>               
            </div>
        </div>

        <div class="questions section ctext">
            <div class="mbox">
                <div class="wrapper">
                    <h3>Questions? Our engineers like questions.</h3>                                    
                </div>
                <div class="row">
                  <form action="ajax.php" method="post" class="question-form">
                      <div class="row">
                          <div class="part">
                                <input type="text" placeholder="First name" name="firstName" required="required">
                          </div>
                          <div class="part">
                                <input type="text" placeholder="Last name" name="lastName " required="required">
                          </div> 
                      </div>
                      <div class="row">
                          <div class="part">
                                <input type="text" placeholder="Company" name="company" required="required">
                          </div>
                          <div class="part">
                                <input type="tel" class="tel-mask" placeholder="Phone number (optional)" name="telephone" required="required">
                          </div>
                      </div>
                      <div class="row">
                          <input type="email" name="email" placeholder="Business email" required="required">
                      </div>
                      <div class="row">
                          <textarea name="question"  rows="5" placeholder="How can we help you?" required="required"></textarea>
                      </div>
                      <div class="row">
                          <div class="description">
                              <p>
                                    Don't worry, we hate spam too. <br>
                                    <span> Read our Privacy Policy </span>
                              </p>
                          </div>

                          <button class="btn  btn-orange">submit</button>
                      </div>
                  </form>
                </div>
            </div>
        </div>

        <!-- add partials here -->

    </div>
    <!-- /MAIN -->

    //= partials/hidden-block.html

    //= partials/footer.html

</div>

//= partials/scripts.html

</body>
</html>